@{
    ViewData["Title"] = "Index page";
    var files = ViewData ["files"] as string[];
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <ul>
        @foreach (var item in files) {
            <li>@item</li>
        }
    </ul>
</div>

