@{
    ViewData["Title"] = "Index page";
    var files = ViewData ["files"] as string[];
}

<div>
    <h1 class="display-4">Index</h1>
    <ul>
        @foreach (var item in files) {
            <a asp-controller="File" asp-action="Content" asp-route-id="@item"><li>@item</li></a>
        }
    </ul>
</div>

